body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

main {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #F6F6EF;
  font-size: 0.9rem;
}

.stories-container {
  padding: 1rem;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 0.3rem;
  box-sizing: border-box;
  font-weight: bold;
  background-color: #EC6333;
}

nav > * {
  margin-right: 1.5rem;
}